@import "../mixins"

header
  width: 100%
  height: 100vh
  position: relative
  overflow: hidden
  background: white
  position: relative
  img
    margin-top: 15%
    @include mQ(800px)
      width: 200%
      margin-top: 50%
    @include mQ(500px)
      margin-top: 90%
    @include mQ(350px)
      margin-top: 140%

  .titleContainer
    z-index: 500
    width: 70%
    display: flex
    flex-direction: column
    position: absolute
    top: 20%
    left: 5%
    @include mQ(650px)
      width: 90%
    @include mQ(400px)

    .title
      font-size: 75px
      @include mQ(650px)

        font-size: 55px

    .subtitle
      margin-left: 10px
      @include mQ(650px)
        width: 70%




.objectiveContainer
  width: 100%
  display: flex
  padding: 20px 0
  display: flex
  align-items: center
  justify-content: center
  .phraseContainer
    width: 50%
    border-left: 5px solid #e74c3c
    border-right: 5px solid #e74c3c
    padding: 0 20px 0 20px
    line-height: 1.7
    text-align: justify
    @include mQ(650px)
      width: 80%
      text-align: center

.actionContainer
  width: 100%
  background: white
  display: flex
  flex-direction: row
  overflow: hidden
  @include mQ(1000px)
    height: 100vh
  @include mQ(700px)
    flex-direction: column
    height: auto
    padding-bottom: 30px
  .imageContainer
    width: 40%
    @include mQ(700px)
      width: 100%
      // height: 65%
      display: flex
      justify-content: center
    img
      width: 100%
      height: auto
      @include mQ(1000px)
        width: auto
        height: 100%
      @include mQ(700px)
        width: 100%
        height: auto

  .msgContainer
    width: 60%
    display: flex
    flex-direction: column
    align-items: flex-end
    @include mQ(700px)
      width: 100%
      align-items: center

    .takeActionContainer
      width: 80%
      font-size: 80px
      color: #313131
      background: #ffd7c7
      margin: 200px 0 40px 0
      text-align: right
      padding-right: 60px
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
      @include mQ(700px)
        text-align: center
        margin: 50px 0 40px 0
        padding: 0
        font-size: 50px



    .subtitleContainer
      color: #313131
      background: #ffd7c7
      text-align: right
      padding: 10px 30px
      margin-bottom: 40px
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
      @include mQ(700px)
        text-align: center
        width: 80%

    .iconsContainer
      width: 50%
      display: flex
      flex-direction: row
      justify-content: flex-end
      @include mQ(700px)
        width: 100%
        justify-content: space-around

      .submitContainer
        width: 90px
        padding: 10px
        background: white
        margin-right: 40px
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
        cursor: pointer
        transition: all 100ms ease
        @include mQ(700px)
          margin: 0

        &:hover
          transform: translateY(-2px)
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        .iconContainer
          width: 100%
          height: 90px
          display: flex
          align-items: center
          justify-content: center
          img
            width: 90%
            height: auto
          span
            font-size: 70px
            color: #34ace0
        .title
          width: 100%
          font-size: 13px
          text-align: center
