body {
	font-size:1.2em;
	line-height:1.5em;
	text-align:left;
	font-weight:300;
	color:black;
	background-color: #E9E9E9;
	position: relative;
	width:60%;
	margin: 0;
	padding: 10vh 20%;
	transition: all 0.3s ease-in-out;
	font-family: "Helvetica",sans-serif;
}
h1{
	text-transform: uppercase;
	color:black;
	border-bottom:1px solid black;
	margin-bottom: 30px;
	padding-bottom: 15px;
}
h1,h2,h3{
  font-family: "Georgia",serif;
  line-height: 2em;
}
h2,a{
	color:#0da4da
}
h2{
	margin-top: 80px;
}
/************* MEDIA QUERIES *********************/
@media screen and (max-width: 820px) {
	body {
		width:80%;
		padding:10%;
	}
}
