<header>
 <div class="headerTitle">
   <strong>Media</strong>
  </div>
</header>

<div class="textContainer">
  <span>
    <p>
      <b>Why we should share</b>
      <a href="https://www.bbc.co.uk/sounds/play/w3csy7l6">BBC World Service https://www.bbc.co.uk/sounds/play/w3csy7l6</a>
    </p>

    <p>
      <b>Human life, intellectual property, consumerism</b>
      <a href="https://t3n.de/news/coronakrise-open-source-wichtig-1264397/">
        https://t3n.de/news/coronakrise-open-source-wichtig-1264397/
      </a>
    </p>
  </span>

</div>