<footer>
<div class="mediaContainer">
    <a target="__blank" href="https://www.bbc.co.uk/sounds/play/w3csy7l6"><img
        src="https://res.cloudinary.com/agirar/image/upload/v1584790643/Corona/rsz_8effde0d5678636c0712e5a1f7f4456a.png"
        alt=""></a>
    <a target="__blank" href="https://twitter.com/CoronaOpen"> <img
        src="https://upload.wikimedia.org/wikipedia/pt/thumb/3/3d/Twitter_logo_2012.svg/950px-Twitter_logo_2012.svg.png"
        alt=""></a>
    <a href="mailto:coronaopensource@gmail.com "><span class="material-icons">
        email
      </span></a>
  </div>

  <div class="copyrightContainer">
    <small>&copy; Copyright 2020, Corona Open Source | <a target="__blank" href="./assets/licence_agreement.pdf">licence</a> </small>
  </div>
  
  <div class="logoContainer">
    <img
      src="https://raw.githubusercontent.com/CoronaOpenSource/CoronaOpenSource.github.io/master/images/logo-400px.png"
      alt="">
  </div>
</footer>
