<nav>
    <img class="logo" src="https://raw.githubusercontent.com/CoronaOpenSource/CoronaOpenSource.github.io/master/images/logo-400px.png" alt="">
  <ul>
    <li routerLink="/home"><span routerLinkActive="active_nav" >Home</span> </li>
    <li routerLink="/strategy"><span routerLinkActive="active_nav" >Strategy</span> </li>
    <li routerLink="/protocols"><span routerLinkActive="active_nav" >Open Testing Protocols</span> </li>
    <li routerLink="/ethics"><span routerLinkActive="active_nav" >Ethics</span> </li>

  </ul>
</nav>