<header>
 <div class="headerTitle">
   <strong>ETHICS & PRACTICALITIES OF DELIVERING LIFE-SAVING HARDWARE ONTO A DESPERATE AND NON-TECHNICAL PUBLIC </strong>
  </div>
</header>

<div class="textContainer">
  <span>
    Bear in mind the lessons learned and debated by the <strong>#wearenotwaiting</strong> movement, who are type 1 diabetics developing
    <a href="https://openaps.org/">open source continuous</a> loop tech for other type 1 diabetics. Variants on Van Halen’s
    <a href="https://www.entrepreneur.com/article/232420">‘no brown M&Ms’ rider</a>; bury
    instructions critical to get the thing to turn on at all together with the tricky settings that users need to
    understand to make it work safely.  Using technical language to explain and github to host, again, to create barriers
    that require focus.  Provide ongoing technical support through multiple channels. Once someone has built it
    successfully, they are a resource for others; make sharing support easy.
    <p>
    -- taken from <a target="__blank" href="https://coronavirustechhandbook.com/hardware">Corona Virus Tech Handbook</a>
    </p>
  </span>

</div>