<header>
 <div class="headerTitle">
   <strong>Licenses</strong>
  </div>
</header>

<div class="textContainer">
  <span>
    <h1>EMERGENCY COVID-19 TECHNOLOGY PLEDGE & LICENSE v0.1</h1>

    <h3>PREAMBLE</h3>

    <p>
      The ongoing COVID-19 pandemic is an unprecedented challenge to public health worldwide. Mitigating the spread of the SARS-CoV-2 virus and developing treatments for the illness it causes are critical global priorities. Doing so as efficiently and effectively as possible is a moral imperative.
    </p>

    <p>
      Under normal circumstances, the United States patent and copyright regimes play an important role in incentivizing biomedical innovation. But in the present crisis, the risk of infringement liability may chill or slow the investments in research and the process of scientific discovery needed to end this pandemic with minimal loss of life and social and economic disruption.
    </p>

    <p>
      Accordingly, the undersigned institution intends to, and by the executed version of this document hereby does, grant to anyone around the world a free, non-exclusive license to use any and all of its patent and copyright rights that are not otherwise exclusively licensed, subject to the following scope and timing constraints and the terms hereof:
    </p>

    <ul>
      <li>
        The use must be in the service of research, development, commercialization, or exploitation of knowledge, devices, tests, tools, or products specifically designed to combat the COVID-19 pandemic; and
      </li>
      <li>
        The license granted here is time-limited, and will expire one year after the World Health Organization declares the pandemic over.
      </li>
    </ul>

    <p>
      The purpose of this initiative is to facilitate the development and deployment of life-saving, public-health-improving tools during this crisis. Once the crisis is over, the license granted herein will lapse prospectively, and continued use of such tools will require a negotiated patent license. For the avoidance of doubt, irrespective of the enforceability of the license granted herein, the undersigned institution pledges not to enforce any patent or copyright rights in a manner inconsistent with the spirit and intent of this Pledge & License.
    </p>

    <h3>
      TERMS
    </h3>

    <p>
      <b>1.  Definitions</b>
    </p>

    <p>
      a.  “Copyright Rights” means all rights granted copyright owners or exclusive licensees under U.S. copyright laws.
    </p>
    <p>
      b.	“COVID-19 Pandemic” means the global health crisis and individual illnesses arising from the spread and effects of the virus SARS-CoV-2, popularly known as COVID-19.
    </p>
    <p>
      c.  “COVID-19 Purposes” means research, development, commercialization, or exploitation of knowledge, devices, tests, tools, or products specifically designed to combat the COVID-19 Pandemic.
    </p>
    <p>
      d.  “Duration of the COVID-19 Pandemic” means the period up to and including one year after the World Health Organization shall declare that the COVID-19 pandemic, as that institution understands that term or an equivalent one, is over.
    </p>
    <p>
      e.  “Institution” means the institution identified over the “Institution” line in the signature block on the last page of this document, below the phrase “Licensor Signatory.”
    </p>
    <p>
      f.	“Institution’s IP Rights” means any interest in Patent Rights or Copyright Rights owned by the Institution, including without limitation partial interests, not otherwise encumbered by a license or assignment that would be violated by the rights granted herein.
    </p>
    <p>
      g.  “Licensee” means the institution or entity identified over the “Institution/Entity” line in the signature block on the last page of this document, below the phrase “Licensee Signatory.”
    </p>
    <p>
      h.	“Patent Rights” means all rights granted patent owners or exclusive licensees under U.S. patent laws.
    </p>

    <p>
      <b>2.  Grant of Rights</b>
    </p>

    <p>
      a.  <b>Rights Granted</b>. Institution hereby grants, and Licensee hereby accepts, a free, non-exclusive, irrevocable, fully sublicensable license to exploit in any manner granted rightsowners or exclusive licensees under U.S. patent and/or copyright laws all of Institution’s IP Rights for the Duration of the COVID-19 Pandemic, but solely to the extent that Licensee uses such license for COVID-19 Purposes.
    </p>

    <p>
      b.  <b>Rights Reserved</b>. Institution does not grant any rights other than those referenced under subsection a. above. Uses for any purpose other than COVID-19 Purposes, or at any time beyond the Duration of the COVID-19 Pandemic, remain unlicensed.
    </p>

    <p>
      <b>3.  No Warranty</b>
    </p>

    <p>
      a.  Institution disclaims any warranty of fitness for use, validity of rights, or other representation concerning the rights granted herein. By accepting the terms hereof, Licensee waives any claim against Institution that rights granted herein are insufficient for any purpose and/or that Institution has misrepresented the scope of rights granted herein.
    </p>

    <p>
      <b>4.  Additional Terms</b>
    </p>

    <p>
      a.  <b>Availability of Alternate Licenses</b>. Nothing herein shall preclude or prevent Licensee from negotiating a longer-lasting or more broadly applicable patent, copyright, or other license from Institution.
    </p>
    <p>
      b.  <b>Assignment</b>. The rights granted to Licensee herein are freely assignable, provided that such assignment shall not alter the scope of rights granted in section 2.a above.
    </p>
    <p>
      c.  <b>Enforceability</b>. Institution and Licensee agree that this document constitutes an enforceable license agreement, with the consideration flowing to Institution consisting inter alia of benefits arising from Licensee’s efficiently granted option to engage in research, development, commercialization, or other exploitation of technology that might otherwise require individualized or other license negotiations, including without limitation resource savings for Institution, and the potential for salutary technological or other developments in furtherance of Institution’s public interest mission.
    </p>
    <p>
      d.  <b>Effect of Preamble</b>. To the extent of any conflict, the terms of the sections 1 through 4 hereof control over the terms of the Preamble.
    </p>

    <br>

    <table>
      <tbody>
        <tr>
          <td style="padding: 0 200px 0 0">
            LICENSOR SIGNATORY:
          </td>
          <td>
            LICENSOR SIGNATORY:
          </td>
        </tr>
        <br><br><br><br>
        <tr>
          <td>
            NAME ___________________________
          </td>
          <td>
            NAME ___________________________
          </td>
        </tr>
        <tr>
          <td>
            ON BEHALF OF:
          </td>
          <td>
            ON BEHALF OF:
          </td>
        </tr>
        <br><br>
        <tr>
          <td>
            _________________________________
          </td>
          <td>
            _________________________________
          </td>
        </tr>
        <tr>
          <td>
            INSTITUTION/ENTITY
          </td>
          <td>
            INSTITUTION/ENTITY
          </td>
        </tr>
        <br>
        <tr>
          <td>
            DATE
          </td>
          <td>
            DATE
          </td>
        </tr>
      </tbody>
    </table>

    <br><br>
    <a href="/assets/tech_pledge_and_licence_v0.1.pdf">DOWNLOAD</a>
    <hr>
    <br>

    <h2 style="color: blue">Signatories</h2>

    <table class="blueTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Organisation</th>
          <th>Date signed</th>
          <th>Doc</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test</td>
          <td>Test Test</td>
          <td>2020-03-23</td>
          <td><a href="/assets/signed_licences/tech_pledge_and_licence_v0.1_test1.pdf">doc</a></td>
        </tr>
      </tbody>
    </table>

    <br><br><br><br><br>
    <hr>
    <br><br>
    <h1>COVID-19 Public License Commitment version 0.2</h1>

    <p>
      Whereas COVID-19 is a global pandemic; and Whereas immediate, widespread, and accurate testing for COVID-19 is critical to slowing and containing the spread of the disease,
    </p>

    <p>
      The undersigned make the following commitment:
    </p>

    <p>
      We will not assert any patent, trade secret, regulatory exclusivity, or other legal right at any time against any entity that engages in COVID-19 testing or research during a period of six months or until the WHO declares the pandemic at an end, whichever is later.
    </p>

    <p>
      We will not seek injunctive or regulatory relief to prevent any entity from engaging in COVID-19 testing, research, product development, or deployment. We will seek only a reasonable royalty from any entity that engages in testing, research, product development, or commercialization exclusively related to COVID-19 during a period of six months or until the WHO declares the pandemic at an end, whichever is later. This commitment is conditioned on any commercial entity making a similar commitment in return, for example by signing this commitment.
    </p>

    <p>
      To the best of our abilities consistent with our own research and testing, we will make materials and expertise available to entities that commit to use those materials, and expertise exclusively for COVID-19 testing, research, product development or treatment. We will charge a reasonable price for use of those materials and expertise. We will commit to negotiate a license in good faith with any entity that commits to make such use and to agree on a reasonable royalty, but we will make materials and expertise available during the pendency of any license negotiation. In the event the parties fail to reach agreement on terms, we commit to let a court or arbitrator decide what fee is reasonable for the materials and expertise we provided.
    </p>

    <p>
      Nothing in this commitment grants a license to use our trademarks beyond accurately representing the source of any materials.
    </p>

    <p>
      We make no warranties about the accuracy, quality, or fitness of the materials we provide, and accept no responsibility for the use of our materials or expertise by others.
    </p>

    <table>
      <tbody>
        <tr>
          <td style="padding: 0 200px 0 0">
            LICENSOR SIGNATORY:
          </td>
          <td>
            LICENSOR SIGNATORY:
          </td>
        </tr>
        <br><br><br><br>
        <tr>
          <td>
            NAME ___________________________
          </td>
          <td>
            NAME ___________________________
          </td>
        </tr>
        <tr>
          <td>
            ON BEHALF OF:
          </td>
          <td>
            ON BEHALF OF:
          </td>
        </tr>
        <br><br>
        <tr>
          <td>
            _________________________________
          </td>
          <td>
            _________________________________
          </td>
        </tr>
        <tr>
          <td>
            INSTITUTION/ENTITY
          </td>
          <td>
            INSTITUTION/ENTITY
          </td>
        </tr>
        <br>
        <tr>
          <td>
            DATE
          </td>
          <td>
            DATE
          </td>
        </tr>
      </tbody>
    </table>


    <br><br>
    <a href="/assets/public_license_commitment_v0.2.pdf">DOWNLOAD</a>
    <hr>
    <br>

    <h2 style="color: blue">Signatories</h2>

    <table class="blueTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Organisation</th>
          <th>Date signed</th>
          <th>Doc</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test</td>
          <td>Test Test</td>
          <td>2020-03-23</td>
          <td><a href="/assets/signed_licences/public_license_commitment_v0.2_test1.pdf">doc</a></td>
        </tr>
      </tbody>
    </table>

    <br><br><br><br><br>

  </span>

</div>