<header>
 <div class="headerTitle">
   <strong>This is an open call to all IP (intellectual property) owners to release your IP. Show us and help us build your
    technology to defeat this challenge </strong> 
  </div>
</header>


<div class="needsContainer">
  <p>We have some of the technologies needed to defeat corona virus right now. Over the next few months, we'll get more.
  </p>
  
  <span (click)="scroll(things)" class="highlight">But we need to do two things <span style="font-size: 60px" class="material-icons">
      keyboard_arrow_down </span></span>
  
</div>

<div #things class="thingsContainer">
  <div class="thing time">
    <div class="text">
      Buy ourselves time to scale up those technologies
    </div>
  </div>
  <div class="thing scale">
    <div class="text">
      Share our knowledge to scale up those technologies faster, globally
    </div>
  </div>
 
</div>

<div class="licenceContainer">
  <div class="title"><span>These businesses need to realise two things</span>  </div>
  <div class="cardContainer">
    <ul>
      <li>
      <div class="numberContainer">
        <div class="itemNumber in1">
          1
        </div>
      </div>
      
        <div class="listContent">
          <div class="text" >
          <span>
          They can make a lot of money out of licensing these technologies. We will need billions of tests per
            day. Not millions per month (see Qiagen's "dramatically ramping up" to <a
              href="https://corporate.qiagen.com/newsroom/press-releases/2020/20200317_capacity_increase">10 million
              tests per month by June</a>
            This level of testing is woefully inadequate)
          </span>
          </div>
        </div>
      </li>
      <li>
      <div class="numberContainer">
        <div class="itemNumber in2">
          2
        </div>
      </div>
      
        <div class="listContent">
          <div class="text" >
          <span>
            The slower they are to act then the very fabric that their business value is built on; skilled people,
            research budgets, consumption, capitalism, will be eaten away over the next weeks and months. And the
            exponentially greater risk people will just go around them. There's already multiple international efforts
            underway to develop and scale up open tests in spite of these companies rather than enabled by them.
          </span>
        </div>
        </div>
      </li>
    </ul>

  </div>
</div>

